
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index2</title>
</head>
<body>
    <div>
        Hej Morten din lille abenussertrold
    </div>
    <div>
        Dette er mit navn: @ViewData["navn"]
    </div>
    <div>
        Dette er min alder: @ViewBag.alder
    </div>
</body>
</html>
