
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Controller</title>
</head>
<body>
    <div> 
        Controller/Action = Shop/Books.<br /> 
        id = @ViewBag.id  <br />
        category = @ViewBag.category
    </div>
</body>
</html>
