
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop index</title>
</head>
<body>
    <div> 
        shop index
    </div>
    @Html.ActionLink("Klik her for home","Index","Home",null, null)
</body>
</html>
