
@{
    ViewData["Title"] = "BuyAndSell";
}

<h1>BuyAndSell</h1>

@section BuySection{
                <div>
                    <p>
                 Køb Køb Køb
                     </p>
                </div
}

@section SaleSection{
            <div>
                <p>
                Sale Sale Sale
                </p>
            </div
}


