
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeCalculator2</title>
</head>
<body>
    <div>
        Timer: @ViewBag.Hours
        Minutter: @ViewBag.Minutes
        Sekunder: @ViewBag.Seconds
        Sekunder Total: @ViewBag.Total
    </div>
</body>
</html>
