

<h2>Opret Person</h2>

    <p>
        Fornavn = @ViewBag.person.Fornavn
    </p>
     <p>
        Efternavn = @ViewBag.person.Efternavn
    </p>
     <p>
        Fornavn = @ViewBag.person.Alder
    </p>

 
