@model Dag15_Opgave1_Person.Models.Person

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <p>
        Fornavn: @Model.ForNavn
    </p>
    <p>
        Efternavn: @Model.EfterNavn
    </p>
 

       

